{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Add Complaint</h2>
    </div>

    <div class="row">
      <!-- Information Section -->
      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
            <img src="https://cdn.pixabay.com/photo/2021/04/08/14/01/complaint-6161776_1280.png" alt="Description of the image" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
            <!-- Your existing information content here -->
        </div>
    </div>
    
  
      <!-- Form Section -->
      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form method="post" role="form" class="php-email-form">
              {% csrf_token %}
              {% include "messages.html" %}
              <div class="row">
                  <div class="form-group col-md-12">
                      <label for="name">Name</label>
                      <input value="{{request.user.username}}" readonly type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-12">
                      <label for="email">Complaint</label>
                      <textarea placeholder="Type Your Complaints..." type="text" name="subject" class="form-control" id="email" required></textarea>
                  </div>
                  <div class="form-group col-md-12">
                      <label for="area">Area</label>
                      <input type="text" name="area" class="form-control" id="area" required>
                  </div>
                  <div class="form-group col-md-12">
                      <label for="vehicle">Date</label>
                      <input type="date" name="date" class="form-control" id="vehicle" required>
                  </div>
                 
                  
                 
              </div>
          
              <div class="text-center"><button type="submit">Sent</button></div>
          </form>
      </div>
  </div>
  
    </div>
</section>

{% endblock %}